<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body class="auth">
    <div class="title">
      <h1>The tech Blog</h1>
    </div>
    <form class="input-form" id="register-form">
      <h2>Sign Up</h2>
      <div class="input-content">
        <label for="username">Username:</label>
        <input type="text" id="username-input" name="username" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password-input" name="password" required />
        <br />
        <button type="submit">Register</button>
        <a href="/login">Login instead</a>
      </div>
    </form>
    <script src="/js/register.js"></script>
  </body>
</html>